# What follows affect this top-level directory and all subdirectories.

# files created by and for emacs
TAGS

# Do NOT push data files to git.
# I suggest you create crawler/indexer output in subdirectories of ./data
data

# HOWEVER, we DO want to push the libcs50-given.a file to git
# Normally, .a files aren't pushed, but we need it there.
!libcs50/libcs50-given.a

*.dSYM